################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/PTA_Train/Debug/PTA_Train.tlog/unsuccessfulbuild
